<h1>{{ survey.name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'survey:submit' %}" method="post">
{% csrf_token %}
{% for question in survey.question_set.all %}
    <p>{{ question.text }}</p>
    {% for choice in question.choices %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        <label for="choice{{ forloop.counter }}">{{ choice.text_value }}</label><br />
    {% endfor %}
{% endfor %}
<input type="submit" value="Submit" />
</form>
